.fancybox-nav {
    width: 60px;       
}
.fancybox-nav span {
   visibility: visible;
}
.logo {
    margin-right: 5px;
    margin-bottom: 5px;
}
.fancybox-lock body {
    overflow: visible !important;
}